body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scanner h3{
  color: #252832;
  font-size:1rem;
  position: absolute;
  display: flex;
  align-items: center;
}

.scanner h3:before{
  content: "Cacahuate";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid white;
  box-shadow:0 0 10px 10px #f8f8fc;
  overflow: hidden;
  color: white;
  animation: scan 4s linear infinite;
}
@keyframes scan{
  0%, 10%, 100%{
    width:0;
  }
  60%, 80%{
    width:100%;
  }
}

.btnNeon{
  width: 200px ;
  height: 70px ;
  border-radius: 45px ;
  font-size: 1.2rem ;
  font-weight: 900 ;
  background: #000 ;
  color: #fff ;
  border: 1px solid ;
  transition: all 1s ease ;
  border: 4px solid lightblue ;
  transition-delay: 0.2s ;
  cursor: pointer ; 
}

  .btnNeon:hover{
    box-shadow: 0 0 20px #a8eb12, 0 0 40px #00E4B6;
    border: 4px solid #a8eb12;
    background: #a8eb12;
    color: #000;
    transition: box-shadow 7s, border 3s, background 3s, color 3s;
  }
